:root {
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-mono);
}

section {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    background-color: ivory;
}

section h1 {
    display: flex;
    flex-wrap: nowrap;
    font-size: 2em;
    color: black;
    margin-bottom: 3%;
    text-align: center;
}

#logout {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-mono);
    font-size: 1em;
    width: 180px;
    height: 40px;
    align-content: center;
    justify-content: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 9px;
    border: none;
    background-color: #381044;
    margin-top: 15px;
    margin-left: 20px;
    color: ivory;
    font-weight: bolder;

}

#logout:hover {
    background-color: #dc3518ea;
    color: black;
    transform: scale(0.9);

}

hr {
    background-color: black;
    width: 80%;
    height: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border: none;
}

p {
    margin-bottom: 3%;
    font-size: larger;
}

#saldo {
    display: flex;
    height: 12vh;
    width: 50vw;
    padding-top: 15px;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.716);
    font-family: var(--font-mono);
    font-size: 3em;
    color: ivory;
    font-weight: 600;
    border-radius: 9px;
}

/*----------------------------------margen superior----------*/
.marginUp {
    background-color: #FFAB48;
    width: 100vw;
    height: 10vh;
    display: block;
}

.marginDown {
    background-color: #FFAB48;
    width: 100vw;
    height: 10vh;
    display: block;
}

.opciones {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conten {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.card {
    width: 7rem;
    height: 7rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.2s ease; 
}

/*----------------------------imagenes--------------*/
.imagenes {
    width: 70%;
    height: 70%;
    margin: auto;
}

span {
    font-size: small;
}

.card :hover {
    transform: scale(0.8);
}

.card :hover~.card {
    translate: 4rem;
}
.card:active {
    transform: translateY(5px); 
  }

/*--------------------------- ESTILOS CAJAS DE OPERACIONES*/
#suma,
#resta {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.853);
    text-decoration: double;
    border-radius: 9px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
}

#mensajeSuma,
#mensajeResta {
    display: inline-block;
    color: ivory;
    width: 80%;
    height: 20%;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    margin: 10px 0 20px 10%;
}

#numInput2 {
    display: inline-block;
    color: black;
    background-color: ivory;
    width: 80%;
    height: 50px;
    border: none;
    font-size: 35px;
    font-family: var(--font-mono);
    text-align: center;
    border-radius: 9px;
    margin-left: 10%;
    margin-bottom: 2%;
}
#numInput {
    display: inline-block;
    color: black;
    background-color: ivory;
    width: 80%;
    height: 50px;
    border: none;
    font-size: 35px;
    font-family: var(--font-mono);
    text-align: center;
    border-radius: 9px;
    margin-left: 10%;
    margin-bottom: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contenBoton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10%;
}
#str1{
    font-size: x-large;
    color: #3efd2dda;
}
#str2{
    font-size: x-large;
    color: #f9f10ef3;
}

#accion1 {
    font-family: var(--font-mono);
    font-size: large;
    width: 110px;
    height: 5vh;
    align-content: center;
    justify-content: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 9px;
    border: none;
    background-color: #3ffd2da1;
    color: ivory;
    font-weight: bolder;
    transition: transform 0.2s ease; 
    position: relative;
    cursor:pointer;
}
#accion1:hover{
    background-color: #3efd2dc1;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.847);
}
#accion1:active {
    transform: translateY(5px); 
  }
#accion2 {
    font-family: var(--font-mono);
    font-size: large;
    width: 110px;
    height: 5vh;
    align-content: center;
    justify-content: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 9px;
    border: none;
    background-color: #f9f10ed8;
    color: black;
    font-weight: bolder;
    transition: transform 0.2s ease; 
    position: relative;
    cursor: pointer;
}
#accion2:hover{
    background-color: #fff700f6;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.847);
}
#accion2:active {
    transform: translateY(5px);
  }
#cancelar {
    font-family: var(--font-mono);
    font-size: large;
    width: 110px;
    height: 5vh;
    align-content: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 9px;
    border: none;
    background-color: #fd2d2da1;
    color: ivory;
    font-weight: bolder;
    position: relative;
    transition: transform 0.2s ease; 

}
#cancelar:hover{
    background-color: #fd2d2de1;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.847);
}
#cancelar:active {
    transform: translateY(5px);
  }

#consulta {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.853);
    ;
    border-radius: 9px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
}
#movimientos{
    display: grid;
    gap: 10px;
    background-color: ivory;
    width: 80%;
    height: 200px;
    margin-left: 40px;margin-bottom: 10px;
    text-align: center;
    border-radius: 18px;
    max-height: 200px;
    overflow: auto;
    color: black;
}

/*---------------------------------------resultados*/
#resultado{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    background-color: rgb(0, 0, 0);
    border-radius: 9px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
    color: #3efd2dda;
    font-size: x-large;
}

#resultado2{
    position:absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    background-color: rgb(0, 0, 0);
    border-radius: 9px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
    color: #f9f10ef3;
    font-size: x-large;
}
